@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors! (Dark Theme)
@use "@material/theme/index" as theme with (
  $primary: color-palette.$red-500,
  $secondary: color.scale(color-palette.$grey-600, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: color-palette.$light-blue-600;
}
a:visited {
  color: color.scale(color-palette.$light-blue-600, $lightness: -35%);
}
